.first {
  color: var(--color--text);
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/1139541/pexels-photo-1139541.jpeg?cs=srgb&dl=pexels-dsnsyj-1139541.jpg&fm=jpg);
  object-fit: cover;
  font-size: var(--font-size--x-large);
  gap: 30px;
  margin-top: 25px;
}

.down {
  align-items: flex-end;
  margin-top: 50px;
  padding-top: 50px;
}

.slide-top {
  -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate-reverse both;
  animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate-reverse both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
